<div class="container">
  <h1>Welcome to dummy users!</h1>
  <h3>new to the site? <a href="/register">register here</a></h3>
  <form action="/login" method="get">
    <label>LOGIN</label><br>
    <label for="email">email: </label>
    <input type="text" name="email"><br>
    <label for="password">password:</label>
    <input type="text" name="password">
    <input type="submit" value="submit">
  </form>
</div>
