<div class="container">
  <h1> Register here </h1>
  <form action="/register/new" method="get">
    <label class="name_label">name: </label><br>
    <input type="text" name="name"><br>
    <label class="email_label">email: </label><br>
    <input type="text" name="email"><br>
    <label class="password_label">password:</label><br>
    <input type="text" name="password">
    <input type="submit" value="submit">
  </form>


</div>

